html {
    width: 600px;
    margin: 50px auto 0 auto;
}



body {
    background-color: rgba(6, 6, 6, 0.822);
}

p, 
footer {
    color: white;
    font: normal 18px 'Inconsolata', monospace;
    text-align: center;
    margin: 25px auto auto auto;
    width: 300px;
}

h2 {
	color: white;
    font: bold 20px 'Staatliches', cursive;
    margin: 50px auto auto auto;
    text-align: center;
}

h2:hover {
	color: mediumslateblue;
    margin-top: 50px;
    text-align: center;
    text-decoration: underline;
}

    
h1 {
    background-color: rgba(128, 128, 128, 0.486);
	color: white;
    font: bold 48px 'Staatliches', cursive;
    margin: auto;
    
    
    border: 3px solid mediumslateblue;    /* Border px and color */
    border-radius: 25px;
    
    position: relative;
    text-align: center;

    height: 60px;       /* You have to have a fixed height */
    line-height: 60px;  /* Put this as the same as your height */
    width: 280px;
}

h1::before {
    content: "";
    position: absolute;
    left: -3px;         /* Make this equal to  NEGATIVE border px */
    top: -3px;          /* Make this equal to  NEGATIVE border px */

    height: 60px;
    width: 280px;

    border: 3px dashed snow;    /* Make this equal to border px */
    border-radius: 20px;          /* Border curveness */
}

img {
    border: 5px outset rgba(58, 56, 56, 0.836);
    border-radius: 200px;
    box-shadow: 0 0 100px 5px mediumslateblue;
    height: auto;
    margin-top: 25px;
}

img:hover {
    box-shadow: 0 0 100px 5px; /* Transparent Shadow Effect  rgba(255, 255, 255, 0.8) */
}

a {
    text-decoration: none;
    color: snow;   
}

a:visited {
    color: snow;
}

ol {
    background-image: linear-gradient(120deg, mediumslateblue, rgb(6, 6, 6));
    padding: 20px;
    border-radius: 360px;
    overflow: hidden;
    text-align: left;
    width: 266px;
} 

/* Navigation Menu */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-image: linear-gradient(120deg, mediumslateblue, rgb(6, 6, 6));
    border-radius: 360px;
    font: bold 20px 'Staatliches', cursive;
    margin: auto;
    z-index: 1000; /* Puts Nav Bar above other elements */
}

li {
    float: left;
    margin: 0 auto 0 50px;
    position: relative;
    left: -25px;
}

li a{
    display: inline-block;
    color: white;
    text-align: center;
    padding: 15px;          /* Height Of Nav Bar */
    text-decoration: none;
}

li a.active {               /* Active Page */
    color: black;
    border-radius: 50px;
    text-decoration: underline;
}
  
li a:hover:not(.active) {
    box-shadow: 0 0 500px 50px rgb(0, 255, 21);
    border-radius: 50px;
}