html {
    width: 500px;
    margin: 0 auto 0 auto;
}



body {
    background-color: rgba(6, 6, 6, 0.822);
}

p, 
footer {
    color: white;
    font: normal 18px 'Inconsolata', monospace;
    text-align: center;
    margin: 25px auto auto auto;
    width: 300px;
}

h2 {
	color: white;
    font: bold 24px 'Staatliches', cursive;
    margin-top: 70px;
    text-align: center;
}

h2:hover {
	color: mediumslateblue;
    font: bold 24px 'Staatliches', cursive;
    margin-top: 70px;
    text-align: center;
    text-decoration: underline;
}

    
h1 {
    background-color: rgba(128, 128, 128, 0.486);
	color: white;
    font: bold 48px 'Staatliches', cursive;
    margin: auto;
    
    
    border: 3px solid mediumslateblue;    /* Border px and color */
    border-radius: 25px;
    
    position: relative;
    text-align: center;

    height: 60px;       /* You have to have a fixed height */
    line-height: 60px;  /* Put this as the same as your height */
    width: 280px;
}

h1::before {
    content: "";
    position: absolute;
    left: -3px;         /* Make this equal to  NEGATIVE border px */
    top: -3px;          /* Make this equal to  NEGATIVE border px */

    height: 60px;
    width: 280px;

    border: 3px dashed snow;    /* Make this equal to border px */
    border-radius: 20px;          /* Border curveness */
}

img {
    border: 5px outset rgba(58, 56, 56, 0.836);
    border-radius: 200px;
    box-shadow: 0px 0px 100px 5px mediumslateblue;
    height: auto;
    margin-top: 25px;
}

img:hover {
    box-shadow: 0px 0px 100px 5px; /* Transparent Shadow Effect  rgba(255, 255, 255, 0.8) */
}

a {
  text-decoration: none;   
}

a:visited {
    color: snow;
}